:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --paused: #e5b800;
  --active: #05a660;
  --hover: #e4e4eb;
  --buttonDarkBackground: #1a1a1a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
  caret-color: transparent;
}

h3 {
  caret-color: transparent;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--buttonDarkBackground);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100vw;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
}

.time {
  padding: 0 1.5em;
}

.time-button {
  margin: 1em;
}

.time-button:hover {
  border: 1px solid;
}

.time-button:focus {
  outline: none;
}

.paused {
  border-color: var(--paused);
}

.active {
  border-color: var(--active);
}

.pomodoro-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin: 1em;
}

input {
  width: 10ch;
  height: 2.5em;
  border: none;
  border-radius: 0.25em;
  padding: 0 0.5em;
  font-size: 1.15em;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--buttonDarkBackground);
}
