:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --paused: #e5b800;
  --active: #05a660;
  --hover: #e4e4eb;
  --buttonDarkBackground: #1a1a1a;
  --selection: #e4e4eb4b;

  overflow-y: hidden;
  overflow-x: hidden;
}

/* Standard CSS Reset */
h1 {
  font-size: 3.2em;
  line-height: 1;
  caret-color: transparent;
}

h3 {
  caret-color: transparent;
}

h4 {
  margin: none;
}

input {
  width: 10ch;
  height: 2.5em;
  border: none;
  border-radius: 0.25em;
  padding: 0 0.5em;
  font-size: 1.15em;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--buttonDarkBackground);
  caret-color: transparent;
}

/* Pomodoro Timer */
.time {
  padding: 0 1.5em;
}

.pomodoro-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin: 1em;
}

/* Effects */
.paused {
  border-color: var(--paused);
}

.active {
  border-color: var(--active);
}

::selection {
  background-color: var(--selection);
  color: white;
}

/* Custom Boxes */
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 100vh;
}

.row-flex {
  display: flex;
  gap: 1em;
  align-items: center;
}

/* Buttons */
.time-button {
  margin: 1em;
}

.time-button:hover {
  border: 1px solid;
}

.time-button:focus {
  outline: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--buttonDarkBackground);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--hover);
}
